<a
style="cursor:pointer;"
[routerLink]="[index]"
routerLinkActive="active"
 class="list-group-item clearfix" >
    <div class="pull-left">
        <h4 class="list-group-iitem-heading">{{ topic.title }}</h4>
    </div>
    <div class="pull-right" style="text-align:center;">
        <div class="pull-left" style="margin:0px 5px;">
            <button class="btn btn-block btn-sm btn-success" (click)="incre()">&#8593;</button>
            <span>{{ topic.upvote }}</span>
        </div>
        <div class="pull-right">
            <button class="btn btn-block btn-sm btn-danger" (click)="decre()">&#8595;</button>
            <span>{{ topic.downvote }}</span>
        </div>
    </div>
</a>